.contain{
    display: flex;
    /* border: solid black 4px; */
    /* border: 34vh; */
    
}
.contain__left-side{
    padding: 2px;
    width: 50%;
    /* border: solid black 1px; */
    border-right: solid black 1px;
    min-height: 100vh;
    /* overflow-y: hidden; */
    /* border- */
    /* border */
    /* border-height */
}

/* .contain__border{
    padding: 0;
    margin:0;
    height: auto;
    width: 1px;
    background-color: black;
} */
.contain__right-side{
    width: 50%;
}