

.recipe__flex--buttons{
    margin:3.5vh 1vh;
}
.btn{
    margin:0vh 1vh;
    /* width: 7vw; */
    width: auto;
    height: 100%;
    padding: 5px 1vw;
    /* padding: 1.5vw; */
    border:none;
    /* background-color: none; */
    outline: none;
    cursor:pointer;
    color:white;
    /* size: 20px; */
    font:inherit;
    border-radius: 1vw;
    box-shadow: 10px 5px 8px #888888;
    font-size: 1.2vw;
    font-weight: bold;
    
}

.btn--blue{
    background-color:hsl(203, 100%, 51%);   
}
.btn--red{
    background-color:hsl(5, 100%, 50%);
}
.btn--blue:hover{
    background-color:hsl(203, 100%, 35%);     
}
.btn--red:hover{
    background-color:hsl(5, 100%, 35%);     
}


.recipe__add-recipe {
    background-color: #029EFF;
}
.recipe__base{
    text-align: center;
    margin:2px;
}